/* SELECTOR: ME SERVIA EN CASOS PARTICULARES*/

/* CLASS: ME PERMITE APLICARLE UN NOMBRE A AL PADRE Y AUMENTAR ESPECIFICIDAD O AGRUPAR PROPIEDES QUE QUIERO REUTILIZAR*/

/*ID: dejarlo para cosas importantes o para enlazar html c/ javascript para que no se haga lio tantos ID*/

/*-----------------TIPOGRAFIAS------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    font-family: "poppins", sans-serif;
}

/*-------------------------RESET----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------HEADER-------------------*/

header {
    background-color: #df8c37;
    padding: 20px;
    position: sticky;
    top: 0%;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}


header h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: left;
}

header nav ul {
    list-style: none;
    /* flexbox */
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

header nav ul li a:hover {
    color: #254a74;
    font-weight: bold;
}

/*-------------------MAIN-------------------*/

/*-------------------INDEX-------------------*/

main {
    background-color: #df8c37;
}

.hero {
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../img/dinamica-fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduccion {
    position: absolute;
    bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.hero p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.boton {
    text-decoration: none;
    color: white;
    background-color: #254a74;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.boton:hover {
    color: white;
    background-color: #51637F;
    box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
}

.profesionales {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: black;
    /* flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profesionales div {
    width: 150px;
    height: 150px;
    margin-block: 5%;
}

.profesionales div img {
    width: 150px;
    height: 150px;
}

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    background-color: #254a74;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*---grids---*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    row-gap: 15px;
    column-gap: 15px;
    padding: 75px;
}

.grid-galeria div {
    background-color: #254a74;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    border: #df8c37 solid 5px;
    object-fit: cover;
    box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
}

.foto-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.foto-3 {
    grid-row: span 2;
}

.foto-4 {
    grid-column: span 2;
}

.foto-6 {
    grid-row: span 2;
}

.ubicacion {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: "poppins", sans-serif;
    font-size: larger;
}

section iframe {
    z-index: 3;
    position: static;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}

.position {
    position: fixed;
    bottom: 100px;
    right: 50px;
}

.position img {
    width: 50px;
}

/*-------------------page especialidades----------------*/

.section-especialidades {
    background-image: url(../img/logo-dinamica-2.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 85vh;
    padding: 100px;
    color: white;
    /* flexbox */
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-especialidades div h2 {
    color: #df8c37;
}

/*-------------------page servicios-----------------*/
.section-servicios {
    background-image: url(../img/logo-dinamica-2.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 85vh;
    padding: 100px;
    color: white;
    /* flexbox */
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-servicios div h2 {
    color: #df8c37;
}

/*-------------------page contacto-----------------*/
.contact-page {
    height: 100vh;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*-------------------page profesionales-----------------*/
.section-equipo {
    background-image: url(../img/logo-dinamica-2.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 85vh;
    padding: 100px;
    color: white;
    /* flexbox */
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-equipo div h2 {
    color: #df8c37;
}

/*-------------------FOOTER------------------*/

footer {
    width: 100%;
    background-color: #254a74;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    text-align: center;
    /* flexbox */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer div a img {
    width: 70px;
    height: 70px;
    padding: 20px;
}

footer img {
    width: 20%;
}

.redes {
    padding-right: 10%;
}

#contacto {
    background-image: url(../img/dinámica-Presentación-50.jpg);
    height: 86vh;
}



.redes {
    margin-top: 20px;
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------MEDIA QUERY----------------------------*/

@media screen and (max-width: 1058px) {
    header {
        background-color: #df8c37;
        padding: 20px;
        position: sticky;
        top: 0%;
        /* flexbox */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    header nav ul {
        list-style: none;
        /* flexbox */
        display: flex;
        flex-direction: column;
    }

    .hero {
        display: none;
    }
}

@media screen and (max-width: 979px) {
    .profesionales {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        color: black;
        /* flexbox */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (max-width: 979px) {
        .grid-galeria {
            width: 100%;
            margin: 0;
            /*---grids---*/
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 500px;
            row-gap: 15px;
            column-gap: 0px;
            padding: 20px;
        }
    }

    @media screen and (max-width:1058px) {
        .section-equipo {
            width: 100%;
            color: white;
            font-size: 25px;
            flex-direction: column;
            align-items: center;
            background-image: none;
            background-color: #254a74;
        }
    }

    @media screen and (max-width:1058px) {

        .section-servicios {
            width: 100%;
            color: white;
            font-size: 25px;
            flex-direction: column;
            align-items: center;
            background-image: none;
            background-color: #254a74;
        }
    }


    @media screen and (max-width:1058px) {

        .section-especialidades {
            width: 100%;
            color: white;
            font-size: 25px;
            flex-direction: column;
            align-items: center;
            background-image: none;
            background-color: #254a74;
        }
    }

    @media screen and (max-width:966px){
        footer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }