header {
    nav {
        background-color: #df8c37;

        .animate__flash {
            color: white;
            padding: 10px;
            font-size: 170%;

        }

        div {
            div {
                ul {
                    color: white; //PREGUNTAR PORQUE NO CAMBIA DE COLOR EL UL//

                    li {
                        a {
                            transition: 0.5s;

                            &:hover {
                                color:#254a74 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}