main {
    background-color: #df8c37;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/dinamica-fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    /* flexbox */
    @include flex(flex, center, center);

    .introduccion {
        position: absolute;
        bottom: 50px;
        padding-left: 20%;
        padding-right: 20%;

        p {
            font-size: 20px;
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;
        }

        a {}
    }
}

.profesionales {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: black;
    /* flexbox */
    @include flex(flex, space-around, center);

    div {
        width: 150px;
        height: 150px;
        margin-block: 5%;

        img {
            width: 150px;
            height: 150px;
        }

        a {}
    }
}

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    background-color: #254a74;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*---grids---*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    row-gap: 15px;
    column-gap: 15px;
    padding: 75px;

    div {
        img {
            width: 100%;
            height: 100%;
            border: #df8c37 solid 5px;
            object-fit: cover;
            box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
        }
    }

    .foto-1 {
        grid-column: span 2;
        grid-row: span 2;

        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-2 {
        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-3 {
        grid-row: span 2;

        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-4 {
        grid-column: span 2;

        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-5 {
        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-6 {
        grid-row: span 2;

        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-7 {
        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-8 {
        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .foto-9 {
        img {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.position {
    position: fixed;
    bottom: 100px;
    right: 50px;

    a {
        img {
            width: 50px;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

//PAGE ESPECIALIDADES//

.section-especialidades {
    background-image: url(../img/logo-dinamica-2.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 85vh;
    padding: 100px;
    color: white;
    /* flexbox */
    @include flex(flex, space-between, center);

    div {
        h2 {
            color: #df8c37;
        }


    }

    div {
        img {
            width: 250px;
            border: #df8c37 solid 5px;
            object-fit: cover;
            box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
        }
    }

}

// PAGE SERVICIOS //

.section-servicios {
    background-image: url(../img/logo-dinamica-2.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 85vh;
    padding: 100px;
    color: white;
    /* flexbox */
    @include flex(flex, space-between, center);


    div {
        h2 {
            color: #df8c37;
        }

    }

    div {
        img {
            width: 250px;
            border: #df8c37 solid 5px;
            object-fit: cover;
            box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
        }
    }

}

// PAGE PROFESIONALES //

.section-equipo {
    background-image: url(../img/logo-dinamica-2.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 85vh;
    padding: 100px;
    color: white;
    /* flexbox */
    @include flex(flex, space-between, center);

    div {
        h2 {
            color: #df8c37;
        }

        p {}
    }

    div {
        img {
            width: 250px;
            border: #df8c37 solid 5px;
            object-fit: cover;
            box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 1px 24px 14px rgba(0, 0, 0, 0.75);
        }
    }

}

//PAGE DONDE ESTAMOS//

main {
    .mapa {
        // height: 60vh;

        iframe {
            width: 100%;
            padding: 0px;
            border-width: 0px;
            margin: 0px;
            left: 0px;
            top: 0px;
            touch-action: pan-x pan-y;
        }
    }
}

//PAGE CONTACTO//

.colores {
    background-color:#254a74;
    min-height: 100vh;
    font-family: inherit;
    width: 100%;
    display: flex;

    .form {
        font-family: inherit;
        @extend %background-color;
        width: 90%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        border:#df8c37 solid 4px;
        padding: 3.5em 1.5em;

        .form-container {
            font-family: inherit;
            width: 100%;
            display: grid;
            gap: 1em;
            grid-auto-columns: 100%;

            .form.title {
                font-family: inherit;
                text-align: center;
                margin-bottom: 4em;
            }

            .form-input {
                font-family: inherit;
                outline: none;
                border: none;
                border: 2px solid #df8c37;
                border-radius: 0.2em;
            }

            .form-cta {
                font-family: inherit;
                background-color:#df8c37;
                color: white;
                border: none;
                font-weight: 200px;
                border-radius: 2em;
                cursor: pointer;
                font-weight: 400px;
            }
        }
    }
}