//*VARIABLES
$color-primario:#df8c37;
$color-secundario:#254a74;
$color-terciario: white;

//*LISTAS

$paleta-colores:
#df8c37,
#254a74,
white,
#51637F;

$font-size:
40px,
20px,
16px;

//*EXTENDS

// % = ESTE SIEMBOLO ES EL PLACEHOLDER //
// para llamar al extends seria .clase + @extend %flex //
// @extend %flex () {
//     display:flex;
//     justify-content: center;
//     align-items: center;
// }

//*MIXINS

@mixin flex ($flex, $justify, $align){
display:$flex ;
justify-content: $justify;
align-items: $align;
}

//para llamar al mixin seria .clase + @include flex ( flex, space-around, center) como ejemplo

//*CONDICIONALES 
// (si esto sucede se ejecuta esto y si no sucede se ejecuta esto. como ejemplo)

//OPERACIONES DE COMPARACION:
// == SON IGUALES
// != ES DIFERENTE
// > MAYOR QUE
// < MENOR QUE
// >= MAYOR O IGUAL
// <= MENOR O IGUAL

//como se aplica?

// if (condicional){
//     se ejecuta el codigo que esta dentro de las llaves
// }
// else{
//     sino se ejecuta este otro codigo
// }



